<h2>Order History</h2>

<table>
  <thead>
    <tr>
      <td>Order Id</td>
      <td>Total</td>
      </tr>
  </thead>
  <tbody>
    <% @ord.each do |o| %>
    <% if o.sub_total!=0%>
      <tr>
        <td>
            <%= o.id%>
        </td>
        <td>Rs<%= o.sub_total %></td>
    </tr>
    <tr>
            <td>Item no</td>
            <td>Product</td>
            <td>Price</td>
            <td>Quantity</td>
            <td></td>
          </tr>
    <%i=1%>
     <% o.items.each do |item| %>
    <<tr>
            <td><%= i %></td>
            <td><%= item.product.title %></td>
            <td>Rs <%= item.price %></td>
            <td><%= item.quantity %></td>

    </tr>
    <%i+=1%>
    <%end%>
    <% end %>
    <%end%>
  </tbody>
  
</table>