<h1>This is an product display page</h1>

        <%@products.each do |p|%>
      
        <li>
       
                            <%=p.title%>

                 
                            <%=p.description%>
                            
                
                            <%=p.price%>
                 
                    <%=form_tag order_items_path do%>
                    <%=hidden_field_tag :product_id,p.id%>
                    <%=number_field_tag :quantity,0%>
                    <%= submit_tag "Add To Card"%>
                    <%end%>
               

            </li>    
            
        <%end%>
        </ol>
</table>
