<h2>
  <%= link_to "Categories", root_path %> /
  <%= @category.title %> /
  
</h2>

<ol>
  <% @products.each do |product| %>
    <li>
      <%= product.title %> (<%= "Rs : "+ product.price.to_s %>)

      <%= form_tag order_items_path do %>
        <%= hidden_field_tag :product_id, product.id %>
        <%= number_field_tag :quantity, 0, in: 0...10%>
        <%= submit_tag "Add to Cart" %>
      <% end %>
    </li>
  <% end %>
</ol>
